# All files
**/*

# Except those that are white listed
!package.json
!package-lock.json
!build.mts
!src/web/nextui/package.json
!src/web/nextui/package-lock.json
!site/package.json
!site/package-lock.json

!tsconfig.json
!src/web/nextui/tsconfig.json
!site/tsconfig.json

!typings

!site/**/*.md
!site/*.js
!site/src
!site/static

!src/**/*.ts
!src/**/*.tsx
!src/**/*.html
!src/**/*.py

!src/web/nextui/next.config.js
!src/web/nextui/src/**/*.css
!src/web/nextui/public

!drizzle/*.sql
!drizzle/meta/_journal.json